* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Museo Moderno', cursive;
    font-weight: 300;
    font-size: 14px;
    color: $main-color;
}

.container {
    max-width: 946px;
    margin: 0 auto;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.telephone {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}

.button {
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    background: $highlight-color;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &_big {
        font-size: 16px;
        padding: 18px 43px;
    }
}