@media (max-width: 991px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .promo {
        &_bg {
            background-position: left;
        }
    }
}

@media (max-width: 767px) {
    .title {
        font-size: 26px;
    }

    .header {
        &__official {
            display: none;
        }
    }

    .promo {
        &__title {
            font-size: 35px
        }
        &__subtitle {
            font-size: 21px;
        }
        &__icons {
            max-width: 352px;
        }
    }

    .benefits {
        &__wrap {
            display: block;
        }
        &__item {
            max-width: 300px;
            margin: 0 auto;
            margin-bottom: 30px;
            &:last-child {
                margin: 0 auto;
            }
        }
        &__header {
            font-size: 17px;
        }

    }
}

@media (max-width: 575px) {
    .title {
        font-size: 24px;
    }

    .header {
        &__logo {
            flex-basis: 200px;
        }
        &__contact {
            display: none;
        }
    }

    .mobile {
        display: flex;
    }

    .promo {
        padding-bottom: 50px;
        &_bg {
            min-height:0;
            background-position: 10%;
        }
        &__content {
            margin-top: 60px;
            text-align: center;
        }
        &__title {
            font-size: 30px;
            margin-bottom: 17px;
        }
        &__subtitle {
            font-size: 16px;
            margin-bottom: 36px;
        }
        &__icons {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 47px;
        }
        &__icon {
            padding-top: 50px;
            font-size: 12px;
            &::before {
                width: 30px;
                background-size: contain;
            }
        }
        &__button {
            font-size: 14px;
            padding: 14px 31px;
            margin-bottom: 13px;
        }
        &__link-wrap {
            font-size: 13px;
        }
    }

    .benefits {
        padding-top: 43px;
        padding-bottom: 43px;
        &__title {
            margin-bottom: 28px;
        }
        &__item {
            max-width: 300px;
            margin: 0 auto;
            margin-bottom: 30px;
            &:last-child {
                margin: 0 auto;
            }
        }
        &__header {
            padding-top: 60px;
            margin-bottom: 8px;
            &::before {
                width: 50px;
                height: 50px;
                background-size: contain;
            }

        }
    }
}