@media (max-width: 991px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .promo {
        &_bg {
            background-position: left;
        }
    }

    .swiper {
        max-width: 80%;
        &-slide {
            img {
                width: 100%;
            }
        }
        &-button {
            display: none;
        }
        &-pagination {
            display: block;
        }
    }

    .catalog {
        &__wrap {
            justify-content: center;
        }
        &__item {
            max-width: 50%;
            margin-right: 25px;
            &:nth-of-type(2n){
                margin-right: 0;
            }
        }
    }

    .reviews {
        &__item {
            margin-bottom: 40px;
        }
        &__img-box {
            width: 140px;
            height: 140px;
            margin-right: 40px;
        }
    }

    .footer {
        &__info {
            width: 445px;
            height: 245px;
        }
    }

    .page-up {
        bottom: 20px;
        right: 20px;
    }
}

@media (max-width: 767px) {
    .title {
        font-size: 26px;
    }

    .header {
        &__official {
            display: none;
        }
    }

    .promo {
        &__title {
            font-size: 35px
        }
        &__subtitle {
            font-size: 21px;
        }
        &__icons {
            max-width: 352px;
        }
    }

    .benefits {
        &__wrap {
            display: block;
        }
        &__item {
            max-width: 300px;
            margin: 0 auto;
            margin-bottom: 30px;
            &:last-child {
                margin: 0 auto;
            }
        }
        &__header {
            font-size: 17px;
        }
    }

    .catalog {
        &__tab {
            width: 146px;
            height: 38px;
            font-size: 14px;
            line-height: 37px;
        }
        &__item {
            padding: 9px;
            max-width: 243px;
            min-height: 0;
        }
        &__item-content {
            display: flex;
            flex-direction: column;
        }
        &__img {
            width: 100px;
            height: auto;
        }
        &__name {
            font-size: 15px;
        }
        &__link {
            margin-top: auto;
            font-size: 13px;
        }
        &__link-back {
            font-size: 13px;
        }
        &__price-old {
            font-size: 13px;
        }
        &__price-current {
            font-size: 17px;
        }
        &__button {
            font-size: 12px;
            padding: 10px 22px;
        }
    }

    .reviews {
        &__message {
            &-title {
                font-size: 16px;
            }
            &-subtitle {
                font-size: 13px;
            }
            &-text {
                font-size: 15px;
            }
        }
    }

    .footer {
        &__info {
            width: 384px;
            height: 166px;
            padding: 17px;
        }
        &__address {
            font-size: 18px;
            margin-bottom: 20px;
        }
        &__tel {
            font-size: 18px;
            margin-bottom: 18px;
        }
        &__social-link {
            margin-right: 10px;
        }
        &__social-img {
            width: 43px;
            height: 42px;
        }
    }

    .modal {
        width: 320px;
        .feed-form {
            width: 100%;
        }
    }
}

@media (max-width: 575px) {
    .title {
        font-size: 24px;
    }

    .header {
        &__logo {
            flex-basis: 200px;
        }
        &__contact {
            display: none;
        }
    }

    .mobile {
        display: flex;
    }

    .promo {
        padding-bottom: 50px;
        &_bg {
            min-height:0;
            background-position: 10%;
        }
        &__content {
            margin-top: 60px;
            text-align: center;
        }
        &__title {
            font-size: 30px;
            margin-bottom: 17px;
        }
        &__subtitle {
            font-size: 16px;
            margin-bottom: 36px;
        }
        &__icons {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 47px;
        }
        &__icon {
            padding-top: 50px;
            font-size: 12px;
            &::before {
                width: 30px;
                background-size: contain;
            }
        }
        &__button {
            font-size: 14px;
            padding: 14px 31px;
            margin-bottom: 13px;
        }
        &__link-wrap {
            font-size: 13px;
        }
    }

    .benefits {
        padding-top: 43px;
        padding-bottom: 43px;
        &__title {
            margin-bottom: 28px;
        }
        &__item {
            max-width: 300px;
            margin: 0 auto;
            margin-bottom: 30px;
            &:last-child {
                margin: 0 auto;
            }
        }
        &__header {
            padding-top: 60px;
            margin-bottom: 8px;
            &::before {
                width: 50px;
                height: 50px;
                background-size: contain;
            }

        }
    }

    .consultation {
        padding-top: 45px;
        padding-bottom: 70px;
        &_bg {
            min-height: 0;
            text-align: center;
        }
        &__title {
            font-size: 23px;
            line-height: 34px;
        }
        &__text {
            font-size: 19px;
            margin-left: auto;
            margin-right: auto;
        }
        &__form {
            margin: 0 auto;
        }
    }

    .corousel {
        padding: 50px 0;
    }
    .swiper {
        &-pagination-bullet {
            width: 7px;
            height: 7px;
        }
    }

    .catalog {
        padding-bottom: 20px;
        &__tabs {
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
        }
        &__tab {
            width: 60%;
            margin-right: 0;
            margin-bottom: 10px;
        }
        &__wrap_active {
            display: block;
        }
        &__item {
            margin-left: auto;
            margin-right: auto;
            &:nth-of-type(2n) {
                margin-right: auto;
            }
        }
    }
    .reviews {
        &__item {
            flex-direction: column;
            align-items: center;
        }
        &__img-box {
            width: 100px;
            height: 100px;
            margin-right: 0;
            margin-bottom: 10px;
        }
        &__message {
            text-align: center;
            &-text {
                margin-bottom: 9px;
            }
        }
    }

    .footer {
        height: 500px;
        &__map {
            height: 100%;
        }
        &__info {
            width: 80%;
            text-align: center;
            height: auto;
        }
    }

    .modal {
        width: 230px;
        padding: 17px 10px;
        &__close {
            right: -30px;
        }
    }

    .page-up {
        width: 35px;
        height: 35px;
        padding: 2px;
        right: 5px;
        bottom: 10px;
    }
}