.promo {
    padding-top: 21px;
    padding-bottom: 93px;
    &_bg {
        min-height: 650px;
        background: url("../img/promo_bg.jpg")center/cover no-repeat;
    }
    &__content {
        text-align: right;
        margin-top: 91px;
        color: #fff;
    }
    &__title {
        font-weight: 700;
        font-size: 42px;
        margin-bottom: 17px;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 60px;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        text-align: center;
        margin-bottom: 65px;
        max-width: 424px;
        margin-left: auto;
    }
    &__icon {
        position: relative;
        padding-top: 66px;
        &::before {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 42px;
            height: 26px;
        }
        &:nth-child(1) {
            &::before {
                content: url("../img/icons_png/clock.png");
            }
        }
        &:nth-child(2) {
            &::before {
                content: url("../img/icons_png/cart.png");
            }
        }
        &:nth-child(3) {
            &::before {
                content: url("../img/icons_png/messages.png");
            }
        }
    }
    &__button {
        margin-bottom: 13px;
    }
    &__link-wrap {
        font-size: 16px;
        font-weight: 500;
    }
    &__link {
        text-transform: uppercase;
        color: #fff;
    }
}