@font-face {
  font-family: "Museo Sans Cyrl";
  src: local("MuseoSansCyrl-300"), url(../fonts/MuseoSansCyrl-300.woff), url(../fonts/MuseoSansCyrl-300.ttf), url(../fonts/MuseoSansCyrl-300.eot);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: local("MuseoSansCyrl-500"), url(../fonts/MuseoSansCyrl-500.woff), url(../fonts/MuseoSansCyrl-500.ttf), url(../fonts/MuseoSansCyrl-500.eot);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Museo Sans Cyrl";
  src: local("MuseoSansCyrl-700"), url(../fonts/MuseoSansCyrl-700.woff), url(../fonts/MuseoSansCyrl-700.ttf), url(../fonts/MuseoSansCyrl-700.eot);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MuseoModerno";
  src: local("MuseoModerno-Medium"), url(../fonts/MuseoModerno-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Museo Sans Cyrl", sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #0D0D0D;
}

.container {
  max-width: 946px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.telephone {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}

.button {
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  background: #C70101;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.button_big {
  font-size: 16px;
  padding: 18px 43px;
}

.promo {
  padding-top: 21px;
  padding-bottom: 93px;
}
.promo_bg {
  min-height: 650px;
  background: url("../img/promo_bg.jpg") center/cover no-repeat;
}
.promo__content {
  text-align: right;
  margin-top: 91px;
  color: #fff;
}
.promo__title {
  font-weight: 700;
  font-size: 42px;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.promo__subtitle {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 60px;
}
.promo__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-bottom: 65px;
  max-width: 424px;
  margin-left: auto;
}
.promo__icon {
  position: relative;
  padding-top: 66px;
}
.promo__icon::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 48px;
  height: 52px;
}
.promo__icon:nth-child(1)::before {
  background: url("../img/icons_png/clock.png") center center no-repeat;
}
.promo__icon:nth-child(2)::before {
  background: url("../img/icons_png/cart.png") center center no-repeat;
}
.promo__icon:nth-child(3)::before {
  background: url("../img/icons_png/messages.png") center center no-repeat;
}
.promo__button {
  margin-bottom: 13px;
}
.promo__link-wrap {
  font-size: 16px;
}
.promo__link {
  text-transform: uppercase;
  color: #fff;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 251px;
          flex: 0 1 251px;
}
.header__logo-img {
  display: block;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__official {
  font-weight: 500;
  color: #fff;
}
.header__official-title {
  font-size: 12px;
  margin-bottom: 7px;
}
.header__official-subtitle {
  font-family: MuseoModerno;
  font-size: 18px;
}
.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.header__telephone {
  margin-bottom: 8px;
}

.mobile {
  display: none;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #C70101;
  cursor: pointer;
  border: none;
}
.mobile:hover .mobile__icon {
  -webkit-animation-name: mobile-pulse;
          animation-name: mobile-pulse;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.mobile__icon {
  width: 25px;
  height: 25px;
  margin: auto;
  fill: #fff;
}

@-webkit-keyframes mobile-pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes mobile-pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.benefits {
  padding-top: 70px;
  padding-bottom: 64px;
}
.benefits_bg {
  background-color: #F6F6F6;
}
.benefits__title {
  text-align: center;
  margin-bottom: 60px;
}
.benefits__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  text-align: center;
  margin-right: 66px;
}
.benefits__item:last-child {
  margin-right: initial;
}
.benefits__header {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;
  padding-top: 100px;
}
.benefits__header::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70px;
  height: 70px;
}
.benefits__header_1::before {
  background: url("../img/icons_png/cup.png") center center no-repeat;
}
.benefits__header_2::before {
  background: url("../img/icons_png/heartbeat.png") center center no-repeat;
}
.benefits__header_3::before {
  background: url("../img/icons_png/shoe.png") center center no-repeat;
}
.benefits__text-link {
  font-family: MuseoModerno, cursive;
  text-transform: uppercase;
  color: #f00;
}

@media (max-width: 991px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .promo_bg {
    background-position: left;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 26px;
  }

  .header__official {
    display: none;
  }

  .promo__title {
    font-size: 35px;
  }
  .promo__subtitle {
    font-size: 21px;
  }
  .promo__icons {
    max-width: 352px;
  }

  .benefits__wrap {
    display: block;
  }
  .benefits__item {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .benefits__item:last-child {
    margin: 0 auto;
  }
  .benefits__header {
    font-size: 17px;
  }
}
@media (max-width: 575px) {
  .title {
    font-size: 24px;
  }

  .header__logo {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
  }
  .header__contact {
    display: none;
  }

  .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .promo {
    padding-bottom: 50px;
  }
  .promo_bg {
    min-height: 0;
    background-position: 10%;
  }
  .promo__content {
    margin-top: 60px;
    text-align: center;
  }
  .promo__title {
    font-size: 30px;
    margin-bottom: 17px;
  }
  .promo__subtitle {
    font-size: 16px;
    margin-bottom: 36px;
  }
  .promo__icons {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 47px;
  }
  .promo__icon {
    padding-top: 50px;
    font-size: 12px;
  }
  .promo__icon::before {
    width: 30px;
  }
  .promo__icon:nth-child(1)::before, .promo__icon:nth-child(2)::before, .promo__icon:nth-child(3)::before {
    background-size: contain;
  }
  .promo__button {
    font-size: 14px;
    padding: 14px 31px;
    margin-bottom: 13px;
  }
  .promo__link-wrap {
    font-size: 13px;
  }

  .benefits {
    padding-top: 43px;
    padding-bottom: 43px;
  }
  .benefits__title {
    margin-bottom: 28px;
  }
  .benefits__item {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .benefits__item:last-child {
    margin: 0 auto;
  }
  .benefits__header {
    padding-top: 60px;
    margin-bottom: 8px;
  }
  .benefits__header::before {
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}